/* Mobile styles (default) */

/* TODO:
 *
 * check vertical spacing against reference
 * mobile view final check
 * desktop view final check
 * (tablet view final check)
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', Roboto, Cantarell, 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 1rem;
    margin: 0;
    color: #000000;
    background-color: rgba(161, 0, 0, 0.3)
}

#banner-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 1px solid #fcfcfc;
}

#content-area {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
    margin-bottom: 64px;
    gap: 24px;
}

.box {
    width: 100%;
    margin: 0;
}

.box :first-child {
    margin-top: 0;
}
.box :last-child {
    margin-bottom: 0;
}

h1 {
    color: #a10000;
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

#subtitle {
    background-color: #ebebeb;
    padding: 16px;
}

ul,
ol {
    list-style-position: outside;
    padding-left: 1.5rem;
}

li {
    line-height: 2;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fcfcfc;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.image-grid > * {
    flex: 0 1 auto;
    width: 100%;
    height: 467px;
    object-fit: cover;
}

/* Tablet (min width 768px */
@media (min-width: 768) {
    .container {
        max-width: 800px;
    }
}

/* Desktop (min width 1024px */
@media (min-width: 1024px) {
    .container {
        max-width: 1280px;
    }

    #content-area {
        padding-left: 48px;
        padding-right: 48px;
    }

    /* Side by side images. */
    .image-grid > * {
        flex: 1 1 auto;
        width: 40%;
    }
}
